<table class="table">

    <thead>
    <tr>
        <th> rental ıd</th>
        <th> car id(brand name)</th>
        <th> customer id(isim soyad)</th>
        <th> rentdate</th>
        <th> return date</th>
    
    </tr>
    </thead>
    
     
    <tr *ngFor="let rental of rentals">
    <td>{{rental.rentalId}}</td>
    <td>{{rental.brandName}}</td>
    <td>{{rental.firstName}}  {{rental.lastName}}</td>
    <td>{{rental.rentDate}}</td>
    <td>{{rental.returnDate}}</td>
    </tr>
    
    
    </table>
